@media screen and (max-width:480px) {


    #wrap {
        width: 100%;
    }

    /* 메인 */
    #main {
        width: 100%;
        height: 69.4444vw;


    }


    #header {
        width: 100%;
        height: 10.4167vw;
        /* background-color: aquamarine; */
        justify-content: center;
        display: flex;

    }

    #header_in {
        width: 100%;
        height: 10.4167vw;
        display: flex;
        /* background-color: bisque; */




    }

    #header_in .logo {
        width: 14.97vw;
        height: 4.1667vw;
        /* background-color: rgb(50, 70, 107); */
        padding-top: 3.81vw;
        margin-right: 2.86vw;
        display: block;
    }

    #header_in .logo img {
        width: 14.97vw;
        height: 4.1667vw;
        display: block;
    }

    #nav {
        margin-left: 0.8vw;
        width: 68.9vw;
        height: 9.4167vw;
        /* background-color: rgb(130, 130, 206); */
        display: flex;
        align-items: center;
        padding-top: 1vw;

    }

    #nav:after {
        content: "";
        display: block;
        clear: both;
    }

    #nav .main {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    #nav li {
        float: left;
    }

    #nav a {
        font-size: 1.3889vw;
    }


    #header_in .group {
        width: 18.36vw;
        height: 10.41vw;
        /* background-color: blueviolet; */
        margin-left: 0.4vw;
        display: flex;
        align-items: center;
        margin-right: 3vw;
    }

    #header_in .group ul {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #header_in .group li {}

    #header_in .group li div {
        margin-left: 0.4vw;
        margin-right: 0.4vw;
        font-size: 0.5vw;
    }

    #header_in .group a {
        font-size: 0.5vw;
        ;
    }

    #header #nav ul li:last-child {
        border-right: 0px;
    }

    /* #header .nav ul li:hover a {
        background-color: rgb(47, 44, 123);
        color: aliceblue;
        transition: 1s ease-in-out;
    } */

    #nav .main>li {
        float: left;
        width: 25%;
        height: 3.47vw;
        position: relative;
        text-align: center;
        line-height: 2.08vw;
        box-sizing: border-box;
    }

    #nav .main>li:hover .sub {
        display: block;
    }

    #nav .main>li a {
        display: block;
        height: 2.08vw;
    }

    #nav .main>li a:hover {
        background: rgb(47, 44, 123);
        color: #fff;
    }

    /* 서브 mn */
    .sub {
        opacity: 0;
        position: absolute;
        top: 3.47vw;
        left: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        border: 1px solid #ccc;
        transition: all 0.7s;

    }


    #main .main_img {
        width: 100%;
        height: 48.61vw;
        background: url(../image/main_img.jpg) no-repeat 50% 0;
        /* background-size: 1680px 1000 px; */
        background-size: 116.6667vw;
        /* display: block; */
        margin: 0 auto;
        /* overflow: hidden; */


    }

    /* 메인 이미지 슬라이드 버튼 */
    /* #main .main_slideBtn {
        width: 85px;
        height: 200px;
        background-color: brown;
    } */





    /* 페리오 소개 */
    #story {
        width: 100%;
        height: 48.61vw;
        background-color: rgb(50, 70, 107);
        padding-top: 13.88vw;
    }

    #story_in {

        width: 100%;
        height: 26.38vw;
        background-color: #fff;
        box-sizing: border-box;
        margin: 0 auto;

    }

    #story_in .txt {
        width: 100%;
        height: 26.38vw;
        text-align: center;
        /* background-color: antiquewhite; */
        box-sizing: border-box;
        padding-top: 10.72vw;

    }

    #story_in .txt h2 {
        font-size: 2.78vw;

    }

    #story_in .txt p {
        font-size: 1.39vw;
        margin-top: 0.69vw;
    }

    #story .btn {
        width: 13.89vw;
        height: 4.17vw;
        background-color: #fff;
        margin: 0 auto;
        text-align: center;
        margin-top: 8.25vw;
        line-height: 4.17vw;
    }

    #story .btn a {}

    /* 페리오제품 */
    #product {
        width: 100%;
        height: 80.33vw;
        /* background-color: cornflowerblue; */
    }

    #pro_header {
        width: 100%;
        height: 29.86vw;
        margin: 0 auto;
    }

    #pro_header .pro_header_in {
        width: 100%;
        height: 29.86vw;
        margin: 0 auto;
        /* background-color: darkgray; */

    }

    #pro_header .pro_header_in h2 {

        font-size: 2.78vw;
        text-align: center;
        line-height: 20.83vw;
        color: rgb(33, 33, 119);

    }


    #pro_header .pro_nav {
        width: 50.00vw;
        height: 4.51vw;
        /* background-color: antiquewhite; */
        /* border: 1px solid #ccc; */
        margin: 0 auto;
        text-align: center;
        line-height: 3.51vw;
    }

    #pro_header .pro_nav ul {
        display: flex;
        justify-content: space-between;

    }

    #pro_header .pro_nav li {
        float: left;


    }

    #pro_header .pro_nav li a {
        font-size: 1.25vw;
    }

    #product .pro_body {
        width: 103.67vw;
        height: 31.19vw;
        /* background-color: darkolivegreen; */
        margin: 0 auto;
        /* border: 1px solid #ccc; */
        margin-left: -3.0vw;
    }

    #product .pro_view {
        width: 97.92vw;
        height: 30.21vw;

        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        text-align: center;
        line-height: 4.47vw;


    }

    #product .pro_view ul {}

    #product .pro_view li {}

    #product .pro_view a {
        width: 19.44vw;
        height: 19.44vw;
    }

    #product .pro_view img {
        margin-top: 3.47vw;
        width: 19.44vw;
        height: 19.44vw;
        display: block;
    }

    #product .pro_view p {
        font-size: 1.39vw;
    }


    #product .pro_view ul {}

    #product .pro_view li {
        float: left;
        width: 22.22vw;
        height: 30.90vw;
        /* background-color: aliceblue; */
        border: 0.07vw solid #ccc;
        margin-left: 0.5vw;
        margin-top: 1.92vw;
    }

    #product .pro_view a {}



    /* 건강습관 */
    #health {
        width: 100%;
        height: 11.81vw;
        background-color: rgb(50, 70, 107);
        padding-top: 4.51vw;
        margin-bottom: 10.94vw;


    }

    #health .health_box {
        margin: 0 auto;
        box-sizing: border-box;

        width: 37.50vw;
        height: 5.00vw;
        border: solid 0.07vw #fff;


    }

    #health .health_box p {
        font-size: 1.39vw;
        color: #fff;
        text-align: center;
        display: block;
        margin: 1.39vw;


    }

    #health .txt1 {
        margin: 0 auto;
        text-align: center;
    }

    #health .txt1 a {
        font-size: 1.04vw;
        color: #fff;
        display: block;
        margin-top: 1.39vw;
    }



    /* 제품추천 */
    #recommend {
        width: 100%;
        height: 76.39vw;
        /* background-color: rgb(192, 200, 216); */
    }

    #re_h {
        width: 100%;
        height: 18.06vw;
        /* background-color: antiquewhite; */
    }

    #re_h .re_h_in {
        width: 100%;
        height: 18.06vw;
        /* background-color: darkgreen; */
        margin: 0 auto;
        display: flex;
        align-items: center;
    }

    #re_h .re_h_in .q_box {
        width: 47.22vw;
        height: 15.28vw;
        border: 0.14vw solid rgb(33, 33, 119);

    }

    #re_h .re_h_in .q_box p {
        font-size: 1.25vw;
        color: rgb(99, 96, 96);
        text-align: center;
        line-height: 15.28vw;
    }


    #re_h .re_h_in .q_txt {
        width: 54.86vw;
        height: 9.38vw;
        background-color: rgb(33, 33, 119);
        margin-top: 5.97vw;
        margin-left: -4.17vw;
        text-align: center;
    }

    #re_h .re_h_in .q_txt h4 {
        margin-top: 1.39vw;
        margin-bottom: 1.39vw;
        font-size: 1.39vw;
        color: #fff;
    }

    #re_h .re_h_in .q_txt p {
        margin-top: 1.04vw;
        font-size: 1.04vw;
        color: #fff;
    }

    /* 추천상품 바디 */
    #re_body {
        width: 100%;
        height: 44.44vw;
        background-color: rgb(255, 255, 255);
        /* border: 1px solid #ccc; */
        margin: 0 auto;
        margin-bottom: 4.86vw;
        margin-top: 3.08vw;
    }

    #re_body ul {}

    #re_body li {

        width: 27.78vw;
        height: 27.78vw;

        /* border: 1px solid #ccc; */
        float: left;
        align-items: center;

        margin-left: 5.33vw;
        margin-bottom: 5.56vw;
        margin-top: 3.47vw;
    }

    #re_body a {
        width: 29.17vw;
        height: 19.44vw;


    }

    #re_body img {
        margin-top: 1.39vw;
        width: 19.44vw;
        height: 19.44vw;
        display: block;
        margin-left: 2.82vw;
    }

    #re_body p {
        margin-top: 1.39vw;
        font-size: 1.25vw;

        text-align: center;

    }




    #re_body .re_btn {
        width: 13vw;
        height: 3vw;
        margin: 0 auto;


    }

    #re_body .re_btn a {


        font-size: 1.25vw;
        border: 0.35vw solid rgb(33, 33, 119);
        padding: 0.5vw 0.5vw 0.5vw 0.5vw;
        /* display: block;  */
    }

    /* 키즈스쿨 */
    #kid {

        margin: 0 auto;
        width: 100%;
        height: 55.50vw;
        /* background-color: rgb(224, 233, 101); */

    }

    #kid_header {
        margin: 0 auto;
        width: 100%;
        height: 6.94vw;
        /* border: 1px solid #ccc; */
        text-align: center;
        padding-top: 2.47vw;
    }

    #kid_header h2 {
        font-size: 2.78vw;
        color: rgb(33, 33, 119);
    }

    #kid_body {
        margin: 0 auto;
        width: 100%;
        height: 43.75vw;

    }

    #kid_body .kid_logo {

        margin: 0 auto;
        width: 18.47vw;
        height: 18.75vw;
        /* padding-right: 10vw; */
    }

    #kid_body .kid_logo a {}

    #kid_body .kid_logo img {
        margin-top: 2.08vw;
        width: 18.47vw;
        height: 18.75vw;
        display: block;

    }

    #kid_body .kid_list {
        margin: 0 auto;
        width: 100%;
        height: 19.79vw;
        /* border: 1px solid #ccc; */
        margin-top: 4.17vw;
        /* display: flex;
    justify-content: center; */
        /* align-items: center; */




    }

    #kid_body .kid_list ul {
        margin: 0 auto;
        width: 94.83vw;
        height: 19.79vw;
        text-align: center;
        padding-left: 5vw;
        margin-top: 6.94vw;

    }

    #kid_body .kid_list li {
        float: left;
        margin-left: 2.56vw;

    }

    #kid_body .kid_list a {}

    #kid_body .kid_list img {
        width: 8.19vw;
        height: 8.19vw;
        display: block;
    }

    #kid_body .kid_list p {
        margin-top: 1.39vw;
        font-size: 1.25vw;
    }


    /* 고객센터&뉴스 */
    #cs_center {
        width: 100%;
        height: 44.61vw;
        /* background-color: rgb(101, 233, 187); */
    }

    #cs_center .cs_body {
        margin: 0 auto;
        width: 100%;
        height: 43.75vw;
        /* background-color: #ccc; */
        display: flex;
        justify-items: center;
        align-items: center;

    }

    #cs_center .cs_1 {
        width: 32.64vw;
        height: 26.39vw;
        border: 0.07vw solid rgb(33, 33, 119);
        margin-left: 11.83vw;
        margin-right: 10.42vw;
    }

    #cs_center .cs_1 img {

        width: 29.86vw;
        height: 23.61vw;
        display: block;
    }

    #cs_center .cs_1 p {
        font-size: 1.39vw;
        text-align: right;
    }

    #cs_center .cs_2 {
        width: 32.64vw;
        height: 26.39vw;
        border: 0.07vw solid rgb(33, 33, 119);

    }

    #cs_center .cs_2 img {
        width: 29.86vw;
        height: 23.61vw;
        display: block;
    }

    #cs_center .cs_2 p {
        font-size: 1.39vw;
        text-align: right;

    }




    /* 하단 */
    #footer {
        width: 100%;
        height: 14vw;
        background-color: rgb(89, 89, 84);
    }

    #footer p {
        padding: 1.8vw;
        margin: 1vw;
        font-size: 0.7vw;
        color: #fff;
        line-height: 2.5vw;
    }
}