#wrap {
    width: 100%;
}

/* 메인 */
#main {
    width: 1920px;
    height: 1000px;


}


#header {
    width: 1920px;
    height: 150px;
    /* background-color: aquamarine; */
    justify-content: center;
    display: flex;

}

#header_in {
    width: 1680px;
    height: 150px;
    display: flex;
    background-color: bisque;




}

#header_in .logo {
    width: 230px;
    height: 120px;
    background-color: blue;


}

#header_in .nav {
    margin-left: 30px;
    width: 1050px;
    height: 150px;
    background-color: rgb(130, 130, 206);
    display: flex;
    align-items: center;

}

#header_in .nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#header_in .nav li {
    float: left;
}

#header_in .nav a {
    font-size: 20px;
}


#header_in .group {
    width: 250px;
    height: 150px;
    background-color: blueviolet;
    margin-left: 120px;
    display: flex;
    align-items: center;
}

#header_in .group ul {
    width: 100%;
    display: flex;
    justify-content: center;
}

#header_in .group li {}

#header_in .group a {
    font-size: 15px;
}


#main .main_img {
    width: 1680px;
    height: 700px;
    background-color: cadetblue;
    display: block;
    margin: 0 auto;


}

/* 메인 이미지 슬라이드 버튼 */
#main .main_slideBtn {
    width: 85px;
    height: 200px;
    background-color: brown;
}

/* 페리오 소개 */
#story {
    width: 1920px;
    height: 700px;
    background-color: blue;
    padding-top: 400px;
}

#story_in {

    width: 1680px;
    height: 380px;
    background-color: #fff;
    box-sizing: border-box;
    margin: 0 auto;

}

#story_in .txt {
    width: 1680px;
    height: 380px;
    text-align: center;
    background-color: antiquewhite;
    box-sizing: border-box;
    padding-top: 140px;

}

#story_in .txt h2 {
    font-size: 40px;

}

#story_in .txt p {
    font-size: 20px;
    margin-top: 10px;
}

#story .btn {
    width: 200px;
    height: 60px;
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
    margin-top: 90px;
    line-height: 60px;
}

#story .btn a {}

/* 페리오제품 */
#product {
    width: 1920px;
    height: 1200px;
    background-color: cornflowerblue;
}

#pro_header {
    width: 1680px;
    height: 430px;
    margin: 0 auto;
}

#pro_header .pro_header_in {
    width: 1680px;
    height: 430px;
    background-color: darkgray;

}

#pro_header .pro_header_in h2 {

    font-size: 40px;
    text-align: center;
    line-height: 300px;

}


#pro_header .pro_nav {
    width: 720px;
    height: 65px;
    background-color: antiquewhite;
    margin: 0 auto;
    text-align: center;
    line-height: 65px;
}

#pro_header .pro_nav ul {
    display: flex;
    justify-content: space-between;

}

#pro_header .pro_nav li {
    float: left;

}

#pro_header .pro_nav li a {
    font-size: 18px;
}

#product .pro_body {
    width: 1680px;
    height: 550px;
    background-color: darkolivegreen;
    margin: 0 auto;
}

#product .pro_list {
    width: 1410px;
    height: 465px;
    display: flex;
    margin: 0 auto;


}

#product .pro_list ul {}

#product .pro_list li {
    float: left;
    width: 330px;
    height: 445px;
    background-color: aliceblue;
    margin-left: 20px;
    margin-top: 42px;
}

#product .pro_list a {}



/* 건강습관 */
#health {
    width: 1920px;
    height: 170px;
    background-color: rgb(50, 70, 107);
    padding-top: 65px;



}

#health .health_box {
    margin: 0 auto;
    box-sizing: border-box;

    width: 540px;
    height: 72px;
    border: solid 1px #fff;


}

#health .health_box p {
    font-size: 20px;
    color: #fff;
    text-align: center;
    display: block;
    margin: 20px;


}

#health .txt1 {
    margin: 0 auto;
    text-align: center;
}

#health .txt1 a {
    font-size: 15px;
    color: #fff;
    display: block;
    margin-top: 20px;
}



/* 제품추천 */
#recommend {
    width: 1920px;
    height: 950px;
    background-color: rgb(192, 200, 216);
}

#re_h {
    width: 1920px;
    height: 260px;
    background-color: antiquewhite;
}

#re_h .re_h_in {
    width: 1680px;
    height: 260px;
    background-color: darkgreen;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#re_h .re_h_in .q_box {
    width: 680px;
    height: 220px;
    border: 2px solid rgb(33, 33, 119);

}

#re_h .re_h_in .q_box p {
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 220px;
}


#re_h .re_h_in .q_txt {
    width: 790px;
    height: 135px;
    background-color: rgb(33, 33, 119);
    margin-top: 86px;
    margin-left: -60px;
}

#re_h .re_h_in .q_txt p {}


#re_body {
    width: 1680px;
    height: 640px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}


/* 키즈스쿨 */
#kid {
    width: 1920px;
    height: 1200px;
    background-color: rgb(224, 233, 101);
}

/* 고객센터&뉴스 */
#cs_center {
    width: 1920px;
    height: 1200px;
    background-color: rgb(101, 233, 187);
}

/* 하단 */
#footer {
    width: 1920px;
    height: 270px;
    background-color: rgb(89, 89, 84);
}